<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.harmoni.pos.transaction.mapper.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.harmoni.pos.transaction.model.OrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="quantity" jdbcType="DOUBLE" property="quantity" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>

  <sql id="Base_Column_List">
    id, order_id, products_id, products_name, skus_id, skus_name, quantity, price, amount, 
    created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_details
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_details
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.harmoni.pos.transaction.model.OrderDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_details (order_id, products_id, products_name, 
      skus_id, skus_name, quantity, 
      price, amount, created_at, 
      updated_at)
    values (#{orderId,jdbcType=INTEGER}, #{productsId,jdbcType=INTEGER}, #{productsName,jdbcType=VARCHAR}, 
      #{skusId,jdbcType=INTEGER}, #{skusName,jdbcType=VARCHAR}, #{quantity,jdbcType=DOUBLE}, 
      #{price,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.harmoni.pos.transaction.model.OrderDetail">
    update order_details
    set order_id = #{orderId,jdbcType=INTEGER},
      products_id = #{productsId,jdbcType=INTEGER},
      products_name = #{productsName,jdbcType=VARCHAR},
      skus_id = #{skusId,jdbcType=INTEGER},
      skus_name = #{skusName,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=DOUBLE},
      price = #{price,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>