<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmoni.pos.menu.mapper.OrderItemDiscountMapper">

  <resultMap id="BaseResultMap" type="com.harmoni.pos.menu.model.OrderItemDiscount">
    <id column="oid_id" jdbcType="BIGINT" property="id" />
    <result column="oid_order_item_id" jdbcType="BIGINT" property="orderItemId" />
    <result column="oid_promotion_id" jdbcType="BIGINT" property="promotionId" />
    <result column="oid_promotion_code" jdbcType="VARCHAR" property="promotionCode" />
    <result column="oid_promotion_name" jdbcType="VARCHAR" property="promotionName" />
    <result column="oid_discount_type" jdbcType="VARCHAR" property="discountType"
            javaType="com.harmoni.pos.menu.model.DiscountType" />
    <result column="oid_discount_value" jdbcType="DECIMAL" property="discountValue" />
    <result column="oid_discount_amount" jdbcType="DECIMAL" property="discountAmount" />
    <result column="oid_created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>

  <sql id="Base_Column_List">
    oid.id as oid_id,
    oid.order_item_id as oid_order_item_id,
    oid.promotion_id as oid_promotion_id,
    oid.promotion_code as oid_promotion_code,
    oid.promotion_name as oid_promotion_name,
    oid.discount_type as oid_discount_type,
    oid.discount_value as oid_discount_value,
    oid.discount_amount as oid_discount_amount,
    oid.created_at as oid_created_at
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_item_discounts oid
    where oid.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByOrderItemId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_item_discounts oid
    where oid.order_item_id = #{orderItemId,jdbcType=BIGINT}
    order by oid.created_at asc, oid.id asc
  </select>

  <select id="selectByOrderItemIdAndType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_item_discounts oid
    where oid.order_item_id = #{orderItemId,jdbcType=BIGINT}
      and oid.discount_type = #{discountType,jdbcType=VARCHAR}
    order by oid.created_at asc, oid.id asc
  </select>

  <select id="selectByPromotionId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_item_discounts oid
    where oid.promotion_id = #{promotionId,jdbcType=BIGINT}
    order by oid.created_at asc, oid.id asc
  </select>

  <select id="selectRedemptionSummary" resultMap="BaseResultMap">
    select
    oid.order_item_id as oid_order_item_id,
    min(oid.promotion_id) as oid_promotion_id,
    max(oid.promotion_code) as oid_promotion_code,
    max(oid.promotion_name) as oid_promotion_name,
    max(oid.discount_type) as oid_discount_type,
    max(oid.discount_value) as oid_discount_value,
    sum(oid.discount_amount) as oid_discount_amount,
    min(oid.created_at) as oid_created_at
    from order_item_discounts oid
    where oid.promotion_id = #{promotionId,jdbcType=BIGINT}
    <if test="from != null">
      and oid.created_at &gt;= #{from,jdbcType=TIMESTAMP}
    </if>
    <if test="to != null">
      and oid.created_at &lt;= #{to,jdbcType=TIMESTAMP}
    </if>
    group by oid.order_item_id
    order by oid.order_item_id asc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_item_discounts
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByOrderItemId" parameterType="java.lang.Long">
    delete from order_item_discounts
    where order_item_id = #{orderItemId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.harmoni.pos.menu.model.OrderItemDiscount">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_item_discounts (order_item_id, promotion_id, promotion_code, promotion_name,
      discount_type, discount_value, discount_amount, created_at)
    values (#{orderItemId,jdbcType=BIGINT}, #{promotionId,jdbcType=BIGINT},
      #{promotionCode,jdbcType=VARCHAR}, #{promotionName,jdbcType=VARCHAR},
      #{discountType,jdbcType=VARCHAR}, #{discountValue,jdbcType=DECIMAL},
      #{discountAmount,jdbcType=DECIMAL}, #{createdAt,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
    insert into order_item_discounts (order_item_id, promotion_id, promotion_code, promotion_name,
      discount_type, discount_value, discount_amount, created_at)
    values
    <foreach item="orderItemDiscount" index="index" collection="orderItemDiscounts" separator=",">
      (#{orderItemDiscount.orderItemId,jdbcType=BIGINT}, #{orderItemDiscount.promotionId,jdbcType=BIGINT},
      #{orderItemDiscount.promotionCode,jdbcType=VARCHAR}, #{orderItemDiscount.promotionName,jdbcType=VARCHAR},
      #{orderItemDiscount.discountType,jdbcType=VARCHAR}, #{orderItemDiscount.discountValue,jdbcType=DECIMAL},
      #{orderItemDiscount.discountAmount,jdbcType=DECIMAL}, #{orderItemDiscount.createdAt,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>
