<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmoni.pos.menu.mapper.ProductMapper">

  <resultMap id="BaseResultMap" type="com.harmoni.pos.menu.model.Product">
    <id column="product_id" jdbcType="INTEGER" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="name" />
    <result column="product_category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="product_description" jdbcType="VARCHAR" property="description" />
    <result column="product_is_deleted" jdbcType="BOOLEAN" property="deleted" />
    <result column="product_created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="product_updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="product_deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />

    <association property="category" javaType="com.harmoni.pos.menu.model.Category">
      <id column="category_id" jdbcType="INTEGER" property="id" />
      <result column="category_name" jdbcType="VARCHAR" property="name" />
    </association>

    <association property="productImage" javaType="com.harmoni.pos.menu.model.ProductImage">
      <id column="product_image_id" jdbcType="INTEGER" property="id" />
      <result column="product_image_file_name" jdbcType="VARCHAR" property="fileName" />
      <result column="product_image_image_blob" jdbcType="BLOB" property="imageBlob" />
      <result column="product_image_mime_type" jdbcType="BLOB" property="mimeType" />
    </association>

    <collection property="skus" resultMap="com.harmoni.pos.menu.mapper.SkuMapper.BaseResultMap"/>

  </resultMap>

  <resultMap id="BaseResultMapSkuPriceAsList" type="com.harmoni.pos.menu.model.Product">
    <id column="product_id" jdbcType="INTEGER" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="name" />
    <result column="product_category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="product_description" jdbcType="VARCHAR" property="description" />
    <result column="product_is_deleted" jdbcType="BOOLEAN" property="deleted" />
    <result column="product_created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="product_updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="product_deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />

    <association property="category" javaType="com.harmoni.pos.menu.model.Category">
      <id column="category_id" jdbcType="INTEGER" property="id" />
      <result column="category_name" jdbcType="VARCHAR" property="name" />
    </association>

    <association property="productImage" javaType="com.harmoni.pos.menu.model.ProductImage">
      <id column="product_image_id" jdbcType="INTEGER" property="id" />
      <result column="product_image_file_name" jdbcType="VARCHAR" property="fileName" />
      <result column="product_image_image_blob" jdbcType="BLOB" property="imageBlob" />
      <result column="product_image_mime_type" jdbcType="BLOB" property="mimeType" />
    </association>

    <collection property="skus" resultMap="com.harmoni.pos.menu.mapper.SkuMapper.BaseResultMapPriceAsList"/>

  </resultMap>

  <sql id="Base_Column_List">
    product.id as product_id,
    product.name as product_name,
    product.category_id as product_category_id,
    product.description as product_description,
    product.is_deleted as product_is_deleted,
    product.created_at as product_created_at,
    product.updated_at as product_updated_at,
    product.deleted_at as product_deleted_at
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMapSkuPriceAsList">
    select 
    <include refid="Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.CategoryMapper.Base_Column_List"/>,
    <include refid="com.harmoni.pos.menu.mapper.SkuMapper.Base_Column_List"/>,
    <include refid="com.harmoni.pos.menu.mapper.SkuTierPriceMapper.Base_Column_List"/>
    from products product
          left join categories category on category.id = product.category_id
          left join skus sku on sku.product_id = product.id
          left join sku_tier_prices stp on stp.sku_id = sku.id
    where product.id = #{id,jdbcType=INTEGER}
    and (sku.is_deleted = 0 or sku.is_deleted is null)
    and (stp.is_deleted = 0 or stp.is_deleted is null)
  </select>

  <select id="selectByNameCategoryId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from products product
    where product.name = #{name,jdbcType=VARCHAR} and product.category_id = #{categoryId,jdbcType=INTEGER}
    and (product.is_deleted = 0 or product.is_deleted is null)
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.CategoryMapper.Base_Column_List"/>,
    <include refid="com.harmoni.pos.menu.mapper.SkuMapper.Base_Column_List"/>
    from products product
        left join categories category on category.id = product.category_id
        left join skus sku on sku.product_id = product.id
  </select>

  <select id="selectByCategoryId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.CategoryMapper.Base_Column_List"/>,
    <include refid="com.harmoni.pos.menu.mapper.SkuMapper.Base_Column_List"/>,
    <include refid="com.harmoni.pos.menu.mapper.ProductImageMapper.Base_Column_List"/>
    from products product
      left join categories category on category.id = product.category_id
      left join skus sku on sku.product_id = product.id
      left join product_images product_image on product_image.product_id = product.id
    where 1=1
    and (product.is_deleted = 0 or product.is_deleted is null)
    <if test="categoryId != -1">
      and product.category_id = #{categoryId,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectByCategoryIdPrice" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.CategoryMapper.Base_Column_List"/>,
    <include refid="com.harmoni.pos.menu.mapper.SkuMapper.Base_Column_List"/>,
    <include refid="com.harmoni.pos.menu.mapper.ProductImageMapper.Base_Column_List"/>,
    <include refid="com.harmoni.pos.menu.mapper.SkuTierPriceMapper.Base_Column_List"/>
    from products product
    left join categories category on category.id = product.category_id
    left join skus sku on sku.product_id = product.id
    left join sku_tier_prices stp on stp.sku_id = sku.id
    and stp.tier_id = #{tierId,jdbcType=INTEGER}
    left join product_images product_image on product_image.product_id = product.id
    where 1=1
    and (product.is_deleted = 0 or product.is_deleted is null)
    <if test="categoryId != -1">
      and product.category_id = #{categoryId,jdbcType=INTEGER}
    </if>

  </select>

  <select id="selectByCategoryIdBrandId" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />,
      <include refid="com.harmoni.pos.menu.mapper.CategoryMapper.Base_Column_List"/>,
      <include refid="com.harmoni.pos.menu.mapper.SkuMapper.Base_Column_List"/>
      from products product
      left join categories category on category.id = product.category_id
      left join skus sku on sku.product_id = product.id
      where 1=1
      and (product.is_deleted = 0 or product.is_deleted is null)
      <if test="categoryId != -1">
        and product.category_id = #{categoryId,jdbcType=INTEGER}
      </if>
      <if test="brandId != -1">
        and category.brand_id = #{brandId,jdbcType=INTEGER}
      </if>
      <if test="search != null">
        and product.name like concat('%', #{search, jdbcType=VARCHAR}, '%')
      </if>
  </select>

  <select id="selectByIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from products product
    left join categories category on category.id = product.category_id
    where 1=1
    and (product.is_deleted = 0 or product.is_deleted is null)
    <if test="brandId != -1">
      and category.brand_id = #{brandId,jdbcType=INTEGER}
    </if>
    <if test="ids != null">
      and product.id in
      <foreach item="id" index="index" collection="ids"
               open="(" separator="," close=")" nullable="true">
        #{id}
      </foreach>
    </if>
  </select>

  <update id="deleteByPrimaryKey">
    update products
    set is_deleted = #{deleted,jdbcType=BOOLEAN},
    deleted_at = #{deletedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insert" parameterType="com.harmoni.pos.menu.model.Product" useGeneratedKeys="true">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into products (name, category_id, description, is_deleted, created_at,
      updated_at, deleted_at)
    values (#{name,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{deleted,jdbcType=BOOLEAN},
    #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.harmoni.pos.menu.model.Product">
    update products
    set name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      is_deleted = #{deleted,jdbcType=BOOLEAN},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>