<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmoni.pos.menu.mapper.SubServiceMapper">

  <resultMap id="BaseResultMap" type="com.harmoni.pos.menu.model.SubService">
    <id column="sub_service_id" jdbcType="INTEGER" property="id" />
    <result column="sub_service_service_id" jdbcType="INTEGER" property="serviceId" />
    <result column="sub_service_name" jdbcType="VARCHAR" property="name" />
    <result column="sub_service_created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sub_service_updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <association property="service" resultMap="com.harmoni.pos.menu.mapper.ServiceMapper.BaseResultMap" />
  </resultMap>

  <sql id="Base_Column_List">
    sub_service.id as sub_service_id,
    sub_service.service_id as sub_service_service_id,
    sub_service.name as sub_service_name,
    sub_service.created_at as sub_service_created_at,
    sub_service.updated_at as sub_service_updated_at
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sub_services sub_service
    where sub_service.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByNameServiceId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sub_services sub_service
    where sub_service.name = #{name,jdbcType=VARCHAR}
      and sub_service.service_id = #{serviceId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sub_services
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.harmoni.pos.menu.model.SubService">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sub_services (service_id, name, created_at, 
      updated_at)
    values (#{serviceId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.harmoni.pos.menu.model.SubService">
    update sub_services
    set service_id = #{serviceId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>