<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmoni.pos.menu.mapper.TableMapper">

  <resultMap id="BaseResultMap" type="com.harmoni.pos.menu.model.Table">
    <id column="table_id" jdbcType="INTEGER" property="id" />
    <result column="table_store_id" jdbcType="INTEGER" property="storeId" />
    <result column="table_name" jdbcType="VARCHAR" property="name" />
    <result column="table_capacity" jdbcType="INTEGER" property="capacity" />
    <result column="table_created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="table_updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="table_deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <association property="store" resultMap="com.harmoni.pos.menu.mapper.StoreMapper.BaseResultMap"/>
  </resultMap>

  <sql id="Base_Column_List">
    tbl.id as table_id,
    tbl.store_id as table_store_id,
    tbl.name as table_name,
    tbl.capacity as table_capacity,
    tbl.created_at as table_created_at,
    tbl.updated_at as table_updated_at,
    tbl.deleted_at as table_deleted_at
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.StoreMapper.Base_Column_List"/>
    from tables tbl
    left join stores store on store.id = tbl.store_id
    where tbl.id = #{id,jdbcType=INTEGER}
          and tbl.deleted_at is null
  </select>

  <select id="selectByNameStoreId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tables tbl
    where tbl.name = #{name,jdbcType=VARCHAR}
          and tbl.store_id = #{storeId,jdbcType=INTEGER}
          and tbl.deleted_at is null
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.StoreMapper.Base_Column_List"/>
    from tables tbl
    left join stores store on store.id = tbl.store_id
    where tbl.deleted_at is null
  </select>

  <select id="selectByStoreId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.StoreMapper.Base_Column_List"/>
    from tables tbl
    left join stores store on store.id = tbl.store_id
    where tbl.store_id = #{storeId,jdbcType=INTEGER}
          and tbl.deleted_at is null
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.harmoni.pos.menu.model.Table">
    update tables
    set deleted_at = #{deletedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.harmoni.pos.menu.model.Table">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tables (store_id, name, capacity, created_at,
      updated_at, deleted_at)
    values (#{storeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{capacity,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP},
      #{updatedAt,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.harmoni.pos.menu.model.Table">
    update tables
    set store_id = #{storeId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>