<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmoni.pos.menu.mapper.TierMenuMapper">

  <resultMap id="BaseResultMap" type="com.harmoni.pos.menu.model.TierMenu">
    <id column="tier_menu_id" jdbcType="INTEGER" property="id" />
    <result column="tier_menu_tier_id" jdbcType="INTEGER" property="tierId" />
    <result column="tier_menu_category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="tier_menu_is_active" jdbcType="BOOLEAN" property="active" />
    <result column="tier_menu_is_deleted" jdbcType="BOOLEAN" property="deleted" />
    <result column="tier_menu_created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="tier_menu_updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="tier_menu_deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <association property="tier" javaType="com.harmoni.pos.menu.model.Tier">
      <id column="tier_id" jdbcType="INTEGER" property="id" />
      <result column="tier_name" jdbcType="VARCHAR" property="name" />
      <result column="tier_brand_id" jdbcType="INTEGER" property="brandId" />
      <result column="tier_type" property="type" javaType="com.harmoni.pos.menu.model.TierType" />
    </association>
    <association property="category" javaType="com.harmoni.pos.menu.model.Category">
      <id column="category_id" jdbcType="INTEGER" property="id" />
      <result column="category_name" jdbcType="VARCHAR" property="name" />
      <result column="category_description" jdbcType="VARCHAR" property="description" />
      <result column="category_brand_id" jdbcType="INTEGER" property="brandId" />
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    tier_menu.id as tier_menu_id,
    tier_menu.tier_id as tier_menu_tier_id,
    tier_menu.category_id as tier_menu_category_id,
    tier_menu.is_active as tier_menu_is_active,
    tier_menu.is_deleted as tier_menu_is_deleted,
    tier_menu.created_at as tier_menu_created_at,
    tier_menu.updated_at as tier_menu_updated_at,
    tier_menu.deleted_at as tier_menu_deleted_at
  </sql>

  <select id="selectByBrandId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.TierMapper.Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.CategoryMapper.Base_Column_List" />
    from tier_menus tier_menu
    right join tiers tier
      on tier.id = tier_menu.tier_id
    left join categories category
      on category.id = tier_menu.category_id
    where tier.brand_id = #{id,jdbcType=INTEGER}
    and tier.type = 'MENU'
    and (tier.is_deleted = 0 or tier.is_deleted is null)
  </select>

  <update id="updateTierMenuBulk">
    insert into tier_menus (tier_id, category_id, is_active, created_at, updated_at)
    values
    <foreach collection="tierMenus" item="tierMenu" separator=",">
      (#{tierMenu.tierId}, #{tierMenu.categoryId}, #{tierMenu.active},
      #{tierMenu.createdAt}, #{tierMenu.updatedAt})
    </foreach>
    on duplicate key update
    is_active = values(is_active)
  </update>
</mapper>