<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmoni.pos.menu.mapper.TierServiceMapper">

  <resultMap id="BaseResultMap" type="com.harmoni.pos.menu.model.TierService">
    <id column="tier_service_id" jdbcType="INTEGER" property="id" />
    <result column="tier_service_tier_id" jdbcType="INTEGER" property="tierId" />
    <result column="tier_service_sub_service_id" jdbcType="INTEGER" property="subServiceId" />
    <result column="tier_service_is_active" jdbcType="BOOLEAN" property="active" />
    <result column="tier_service_created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="tier_service_updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <association property="tier" javaType="com.harmoni.pos.menu.model.Tier">
      <id column="tier_id" jdbcType="INTEGER" property="id" />
      <result column="tier_name" jdbcType="VARCHAR" property="name" />
      <result column="tier_brand_id" jdbcType="INTEGER" property="brandId" />
      <result column="tier_type" property="type" javaType="com.harmoni.pos.menu.model.TierType" />
    </association>
    <association property="subService" javaType="com.harmoni.pos.menu.model.SubService">
      <id column="sub_service_id" jdbcType="INTEGER" property="id" />
      <result column="sub_service_service_id" jdbcType="INTEGER" property="serviceId" />
      <result column="sub_service_name" jdbcType="VARCHAR" property="name" />
      <association property="service" javaType="com.harmoni.pos.menu.model.Service">
        <id column="service_id" jdbcType="INTEGER" property="id" />
        <result column="service_name" jdbcType="VARCHAR" property="name" />
      </association>
    </association>

  </resultMap>

  <sql id="Base_Column_List">
    tier_service.id as tier_service_id,
    tier_service.tier_id as tier_service_tier_id,
    tier_service.sub_service_id as tier_service_sub_service_id,
    tier_service.is_active as tier_service_is_active,
    tier_service.created_at as tier_service_created_at,
    tier_service.updated_at as tier_service_updated_at
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tier_services tier_service
    where tier_service.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByBrandId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.TierMapper.Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.SubServiceMapper.Base_Column_List" />,
    <include refid="com.harmoni.pos.menu.mapper.ServiceMapper.Base_Column_List" />
    from tier_services tier_service
    right join tiers tier
      on tier.id = tier_service.tier_id
    left join sub_services sub_service
      on sub_service.id = tier_service.sub_service_id
    left join services service
      on service.id = sub_service.service_id
    where tier.brand_id = #{id,jdbcType=INTEGER}
    and tier.type = 'SERVICE'
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tier_services
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.harmoni.pos.menu.model.TierService">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tier_services (tier_id, sub_service_id, is_active, created_at,
      updated_at)
    values (#{tierId,jdbcType=INTEGER}, #{subServiceId,jdbcType=INTEGER}, #{active,jdbcType=BOOLEAN},
    #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.harmoni.pos.menu.model.TierService">
    update tier_services
    set tier_id = #{tierId,jdbcType=INTEGER},
      sub_service_id = #{subServiceId,jdbcType=INTEGER},
      is_active = #{active,jdbcType=BOOLEAN},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateTierServicesBulk">
    insert into tier_services (tier_id, sub_service_id, is_active, created_at, updated_at)
    values
    <foreach collection="tierServices" item="tierService" separator=",">
      (#{tierService.tierId}, #{tierService.subServiceId}, #{tierService.active},
      #{tierService.createdAt}, #{tierService.updatedAt})
    </foreach>
    on duplicate key update
    is_active = values(is_active)
  </update>
</mapper>